html {
    font-size: 125%;
    overflow-x: hidden;

    body {
        
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        line-height: 28px;
        letter-spacing: 2px;
        color: $secondBlack;
        overflow-x: hidden;


        .skip_link {
            position: absolute;
            left: -1000px;
            top: 20px;
            z-index: 999;
            background: $backgroundColor;
            color: white;
            border: 3px solid $mainColor;
            padding: 10px;
        }

        .skip_link:focus {
            left: 20%;
        }
   
        .wrapper {
            width: 80%;
            margin: 0 auto;
            max-width: 1500px;
            

            @include mq-small-tablet {
                width: 90%;
            }
        }
    }
}

// Getting rid of defaults

ul,li {
    list-style: none;

}

ul {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}



h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

// General styles for the h1

h1 {
    font-size: 2.9rem;
    line-height: 64px;
    color: $darkerColor;
    font-family: 'Pacifico', cursive;
    width: 700px;
    margin-top: 50px;

    @include mq-tablet {
        width: 350px;
    }
}

// General styles for the h2

h2 {
    letter-spacing: 2.7px;
    font-size: 2.15rem;
    font-family: 'Pacifico', cursive;
    line-height: 58px;
    color: $darkerColor;
    padding-bottom: 20px;
    

}

// General styles for the h3


h3 {
    font-family: 'Pacifico', cursive;
    font-size: 1.75rem;
    letter-spacing: 2.9px;
    
}

// General styles for the forms

form {

    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mq-tablet {
        width: 100%;
        
    }

    fieldset {
        border: none;
        display: flex;
        flex-direction: column;
        flex-basis: calc(100% / 2 );
        margin: 0;
        padding: 0;
        min-width: 0;

        @include mq-phone {
            flex-basis: 100%;
        }
        

        &:first-child {
            padding-right: 10px;
            @include mq-tablet {
                // padding-right: 15px;
            }
        }

        &:nth-child(2) {
            padding-left: 10px;
            @include mq-phone {
                padding-left: 0;
            }
        }

        label {
            padding-left: 10px;

            @include mq-phone {
                padding-left: 0;
                padding-top: 20px;
                
            }
        }
        
    }

    input {
        border: none;
        border-bottom: 2px solid $mainColor;
        background-color: $lighterColor;
        padding-left: 20px;
        width: 100%;

        @include mq-phone {
            padding-left: 0;
        }
        
    }


    textarea {
        border: solid 2px $mainColor;
        background-color: $lighterColor;
        width: 100%;
        padding: 30px;
        margin-top: 30px;
        resize: none;

        &::placeholder {
            color: $firstBlack;
            opacity: 1;
        }
    }

    button {
        width: 100%;
    }
}


