$darkerColor: #1A315C;
$lighterColor: #CCEDFB;
$mainColor: #0CADC0;
$firstBlack: #1E1713;
$secondBlack: #161515;
$backgroundColor: #21404F;

@mixin mq-tablet {
    @media (max-width:980px) {
        @content
    }
}

@mixin mq-height-restriction {
    @media (max-height:500px){
        @content
    }
}

@mixin mq-small-tablet {
    @media (max-width: 770px){
        @content
    }
}

@mixin mq-phone {
    @media (max-width: 550px){
        @content
    }
}

@keyframes animate {
    0%, 100% {
        transform: rotate(0deg) scale(1);
        text-shadow: $mainColor 1px 1px 0;
    }

    25%,75% {
        transform: rotate(-25deg) scale(1.6);
    }

    50% {
        transform: rotate(25deg) scale(1.6);
    }
    
}