article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

html body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 2px;
  color: #161515;
  overflow-x: hidden;
}

html body .wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1500px;
}

@media (max-width: 770px) {
  html body .wrapper {
    width: 90%;
  }
}

ul, li {
  list-style: none;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 2.9rem;
  line-height: 64px;
  color: #1A315C;
  font-family: 'Pacifico', cursive;
  width: 700px;
  margin-top: 50px;
}

@media (max-width: 980px) {
  h1 {
    width: 350px;
  }
}

h2 {
  letter-spacing: 2.7px;
  font-size: 2.15rem;
  font-family: 'Pacifico', cursive;
  line-height: 58px;
  color: #1A315C;
  padding-bottom: 20px;
  text-transform: capitalize;
}

h3 {
  font-family: 'Pacifico', cursive;
  font-size: 1.75rem;
  letter-spacing: 2.9px;
}

form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 980px) {
  form {
    width: 100%;
  }
}

form fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: calc(100% / 2);
      flex-basis: calc(100% / 2);
  margin: 0;
  padding: 0;
  min-width: 0;
}

@media (max-width: 550px) {
  form fieldset {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

form fieldset:first-child {
  padding-right: 10px;
}

form fieldset:nth-child(2) {
  padding-left: 10px;
}

@media (max-width: 550px) {
  form fieldset:nth-child(2) {
    padding-left: 0;
  }
}

form fieldset label {
  padding-left: 10px;
}

@media (max-width: 550px) {
  form fieldset label {
    padding-left: 0;
    padding-top: 20px;
  }
}

form input {
  border: none;
  border-bottom: 2px solid #0CADC0;
  background-color: #CCEDFB;
  padding-left: 20px;
}

@media (max-width: 550px) {
  form input {
    padding-left: 0;
  }
}

form textarea {
  border: solid 2px #0CADC0;
  background-color: #CCEDFB;
  width: 100%;
  padding: 30px;
  margin-top: 30px;
  resize: none;
}

form textarea::-webkit-input-placeholder {
  color: #1E1713;
  opacity: 1;
}

form textarea:-ms-input-placeholder {
  color: #1E1713;
  opacity: 1;
}

form textarea::-ms-input-placeholder {
  color: #1E1713;
  opacity: 1;
}

form textarea::placeholder {
  color: #1E1713;
  opacity: 1;
}

form button {
  width: 100%;
}

header {
  height: 95vh;
  min-height: 700px;
  background-image: url(../assets/header-home.jpg);
  background-size: cover;
  position: relative;
  background-position: top;
  position: relative;
}

@media (max-width: 980px) {
  header {
    min-height: 500px;
    height: 75vh;
  }
}

header .header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

header .header_top input {
  display: none;
}

header .header_top .menu {
  display: none;
  position: absolute;
  right: 20px;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 2rem;
}

header .header_top .menu .fas.fa-times {
  display: none;
  color: white;
}

@media (max-width: 770px) {
  header .header_top .menu {
    display: block;
  }
}

header .header_top input:checked ~ nav {
  right: 0;
}

header .header_top input:checked + label .fas.fa-times {
  display: block;
}

header .header_top input:checked + label .fas.fa-bars {
  display: none;
}

header .header_top .logo {
  font-size: 1.5rem;
  font-family: 'Pacifico', cursive;
  letter-spacing: 1.7px;
  line-height: 24px;
  text-transform: capitalize;
}

@media (max-width: 770px) {
  header .header_top nav {
    position: absolute;
    right: -100%;
    bottom: 0;
    top: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

header .header_top nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1A315C;
}

@media (max-width: 770px) {
  header .header_top nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #21404F;
    height: 100%;
    color: white;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0;
    border: solid 5px #0CADC0;
  }
}

header .header_top nav ul li {
  width: 100%;
  margin: 0 20px;
}

header .header_top nav ul a {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  line-height: 29px;
  color: inherit;
  position: relative;
}

@media (max-width: 770px) {
  header .header_top nav ul a {
    width: 70%;
    height: 100%;
    display: block;
    padding: 0;
    margin: 0 auto;
  }
}

header .header_top nav ul a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 5px;
  border-radius: 20px;
  left: 0;
  right: 0;
  background-color: #0CADC0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .header_top nav ul a:hover::before {
  width: 100%;
}

header img {
  position: absolute;
  width: 60vw;
  min-width: 600px;
  bottom: -14vw;
  left: 0;
  max-width: 950px;
}

@media (max-width: 980px) {
  header img {
    display: none;
  }
}

.blog_header h1, .contact_header h1 {
  font-size: 3.4rem;
  line-height: 64px;
}

.blog_header {
  background-image: url("../assets/blog-header.jpg");
}

.blog_header h1 {
  margin-top: 150px;
}

.contact_header {
  background-image: url("../assets/contact-header.jpg");
  background-position: right;
}

.contact_header h1 {
  width: 100%;
  margin-top: 150px;
}

main .button {
  background-color: #1A315C;
  padding: 10px 20px;
  color: white;
  font-family: 'Pacifico', cursive;
  margin-top: 30px;
}

main .new_techniques {
  padding-top: 15vw;
  padding-bottom: 5vw;
  background-color: #CCEDFB;
}

main .new_techniques .new_techniques_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 770px) {
  main .new_techniques .new_techniques_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .new_techniques .new_techniques_main .information {
  padding-right: 100px;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 770px) {
  main .new_techniques .new_techniques_main .information {
    padding-right: 0;
  }
}

@media (max-width: 770px) {
  main .new_techniques .new_techniques_main .information .button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

main .new_techniques .new_techniques_main .new_techniques_image {
  background-image: url(../assets/small-box.jpg);
  height: 300px;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  -webkit-box-shadow: #0CADC0 -20px 20px 0px;
          box-shadow: #0CADC0 -20px 20px 0px;
  background-size: cover;
}

@media (max-width: 770px) {
  main .new_techniques .new_techniques_main .new_techniques_image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 40px;
  }
}

main .gallery {
  background-color: #21404F;
  padding: 100px 0;
}

main .gallery .gallery_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .gallery .gallery_main img {
  width: calc(100% / 3 - (4% / 3));
  margin-right: 2%;
}

@media (max-width: 770px) {
  main .gallery .gallery_main img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5%;
  }
}

main .gallery .gallery_main img:nth-of-type(3) {
  margin-right: 0;
}

main .general_info {
  background-color: #CCEDFB;
  padding: 50px 0 100px 0;
}

main .general_info .general_info_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

main .general_info .general_info_main .information_segment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 40px;
  min-width: 350px;
}

@media (max-width: 770px) {
  main .general_info .general_info_main .information_segment {
    min-width: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

main .general_info .general_info_main .information_segment .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0CADC0;
  border-radius: 50%;
  padding: 8px;
  width: 40px;
  margin-right: 15px;
  margin-top: 10px;
}

main .general_info .general_info_main .information_segment .icon i {
  color: white;
  display: block;
  font-size: 1.2rem;
}

main .general_info .general_info_main .information_segment:nth-child(3) i {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

main .general_info .general_info_main .information_segment .details .detail_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .general_info .general_info_main .information_segment .details p {
  padding-left: 55px;
}

@media (max-width: 770px) {
  main .general_info .general_info_main .information_segment .details p {
    padding: 0;
  }
}

main .commercial_types {
  background-color: #21404F;
}

main .commercial_types .commercial_types_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 980px) {
  main .commercial_types .commercial_types_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .commercial_types .commercial_types_main .information {
  width: 45%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 50px 0;
  padding-right: 10%;
}

@media (max-width: 980px) {
  main .commercial_types .commercial_types_main .information {
    width: 100%;
    padding: 50px 5%;
  }
}

main .commercial_types .commercial_types_main .information h3 {
  color: white;
  padding-bottom: 20px;
}

main .commercial_types .commercial_types_main .information .button {
  background-color: #CCEDFB;
  color: #1E1713;
}

main .commercial_types .commercial_types_main .information:nth-child(4) {
  padding-right: 0;
  padding-left: 10%;
  text-align: end;
}

@media (max-width: 980px) {
  main .commercial_types .commercial_types_main .information:nth-child(4) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 100px 5%;
  }
}

main .commercial_types .commercial_types_main .information:nth-child(4) h3, main .commercial_types .commercial_types_main .information:nth-child(4) .button {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

main .commercial_types .commercial_types_main .online_image_positioning {
  width: 45%;
  margin-right: 10%;
  position: relative;
}

@media (max-width: 980px) {
  main .commercial_types .commercial_types_main .online_image_positioning {
    width: 90%;
    height: 400px;
  }
}

@media (max-width: 550px) {
  main .commercial_types .commercial_types_main .online_image_positioning {
    width: 100%;
  }
}

main .commercial_types .commercial_types_main .locations_image_positioning {
  width: 45%;
  margin-left: 10%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
}

@media (max-width: 980px) {
  main .commercial_types .commercial_types_main .locations_image_positioning {
    width: 90%;
    height: 400px;
  }
}

@media (max-width: 550px) {
  main .commercial_types .commercial_types_main .locations_image_positioning {
    width: 100%;
    margin-left: 0;
  }
}

main .commercial_types .commercial_types_main .online_image {
  background-image: url(../assets/left-image.jpg);
  background-size: cover;
  -webkit-box-shadow: 20px 20px 0 #0CADC0, 0 20px 0 #0CADC0;
          box-shadow: 20px 20px 0 #0CADC0, 0 20px 0 #0CADC0;
  width: 100%;
  position: absolute;
  bottom: 0;
  top: -50px;
}

@media (max-width: 550px) {
  main .commercial_types .commercial_types_main .online_image {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

main .commercial_types .commercial_types_main .locations_image {
  background-image: url(../assets/right-image.jpg);
  background-size: cover;
  width: 100%;
  -webkit-box-shadow: -20px 20px 0 #0CADC0, 0 20px 0 #0CADC0;
          box-shadow: -20px 20px 0 #0CADC0, 0 20px 0 #0CADC0;
  position: absolute;
  bottom: -50px;
  top: 0px;
}

@media (max-width: 550px) {
  main .commercial_types .commercial_types_main .locations_image {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

main .background_image {
  background-image: url("../assets/banner.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
}

@media (max-width: 550px) {
  main .background_image {
    height: 300px;
  }
}

main .style {
  background-color: #CCEDFB;
  text-align: center;
  padding: 150px 0;
}

main .style_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .blog_top {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #CCEDFB;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 980px) {
  main .blog_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .blog_top h2 {
  font-size: 1.25rem;
  letter-spacing: 2.9px;
  padding: 0;
  color: white;
}

main .blog_top h3 {
  font-size: 2rem;
  letter-spacing: 4.3px;
  color: #161515;
}

main .blog_top p {
  padding: 20px 0;
}

main .blog_top .collection {
  position: relative;
  top: -150px;
  width: 60%;
  background-color: #21404F;
}

@media (max-width: 980px) {
  main .blog_top .collection {
    position: initial;
  }
}

main .blog_top .collection .information {
  border-right: #0CADC0 10px solid;
  border-bottom: #0CADC0 10px solid;
  padding: 60px 50px 100px 10vw;
}

@media (max-width: 980px) {
  main .blog_top .collection .information {
    border: none;
    padding: 50px 0;
  }
}

main .blog_top .collection p:first-of-type {
  color: #CCEDFB;
}

main .blog_top .collection .collection_image {
  background-image: url(../assets/blog-post-image.jpg);
  width: calc(100% - 20px);
  height: 500px;
  background-size: cover;
  -webkit-box-shadow: 20px 20px 0 #0CADC0;
          box-shadow: 20px 20px 0 #0CADC0;
  padding-right: 5px;
  position: relative;
  top: -20px;
}

@media (max-width: 550px) {
  main .blog_top .collection .collection_image {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    width: 100%;
  }
}

main .blog_top .mission {
  width: 30%;
  background-color: #21404F;
  padding-left: 30px;
  height: 50%;
  padding-bottom: 50px;
  margin-top: 10%;
}

@media (max-width: 980px) {
  main .blog_top .mission {
    margin-top: 0;
  }
}

main .blog_top .mission .mission_image {
  background-image: url(../assets/sidebar-image.jpg);
  width: 100%;
  height: 500px;
  background-size: cover;
  position: relative;
  top: -30px;
}

@media (max-width: 980px) {
  main .blog_top .mission .mission_image {
    width: calc(100% - 20px);
    margin-left: 20px;
    -webkit-box-shadow: -20px 20px 0 #0CADC0;
            box-shadow: -20px 20px 0 #0CADC0;
  }
}

@media (max-width: 550px) {
  main .blog_top .mission .mission_image {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    width: 100%;
    margin: 0;
  }
}

main .blog_top .mission .information {
  padding-right: 20px;
}

@media (max-width: 980px) {
  main .blog_top .mission .information {
    padding-bottom: 50px;
  }
}

main .blog_top .mission .information li {
  list-style: initial;
}

@media (max-width: 980px) {
  main .blog_top .collection .collection_image, main .blog_top .mission .mission_image {
    height: 400px;
  }
}

@media (max-width: 980px) {
  main .blog_top .collection, main .blog_top .mission {
    width: 100%;
    padding: 0 5%;
  }
}

main .comments {
  background-color: #CCEDFB;
}

@media (max-width: 980px) {
  main .comments h3 {
    padding-top: 50px;
  }
}

main .comments article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60%;
  padding: 50px 0;
}

main .comments article:last-of-type {
  padding-top: 0;
}

@media (max-width: 980px) {
  main .comments article {
    width: 100%;
  }
}

@media (max-width: 550px) {
  main .comments article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .comments article img {
  width: 10%;
}

@media (max-width: 550px) {
  main .comments article img {
    width: 30%;
    padding-bottom: 40px;
  }
}

main .comments article .comment_detail {
  width: 90%;
  padding-left: 40px;
}

@media (max-width: 550px) {
  main .comments article .comment_detail {
    width: 100%;
    padding-left: 0;
  }
}

main .comments article .comment_detail p {
  color: #161515;
  padding-bottom: 10px;
}

main .comments article .comment_detail p:first-child {
  color: #1A315C;
}

main .form_section {
  background-color: #CCEDFB;
  padding-bottom: 100px;
}

main .comments_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 980px) {
  main .comments_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
  }
}

main .comments_main form {
  background-color: #21404F;
  padding: 50px;
  -webkit-box-shadow: 20px 20px 0 #0CADC0;
          box-shadow: 20px 20px 0 #0CADC0;
  position: relative;
  top: -100px;
  color: white;
  width: 75%;
}

@media (max-width: 980px) {
  main .comments_main form {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    position: initial;
  }
}

@media (max-width: 550px) {
  main .comments_main form {
    padding: 20px;
  }
}

main .comments_main form textarea, main .comments_main form input {
  background-color: #21404F;
  color: white;
}

main .comments_main form textarea::-webkit-input-placeholder, main .comments_main form input::-webkit-input-placeholder {
  color: white;
}

main .comments_main form textarea:-ms-input-placeholder, main .comments_main form input:-ms-input-placeholder {
  color: white;
}

main .comments_main form textarea::-ms-input-placeholder, main .comments_main form input::-ms-input-placeholder {
  color: white;
}

main .comments_main form textarea::placeholder, main .comments_main form input::placeholder {
  color: white;
}

main .comments_main form button {
  background-color: #CCEDFB;
  color: #1E1713;
}

main .comments_main .contact_info {
  margin-left: 100px;
  width: 300px;
  padding-bottom: 50px;
}

@media (max-width: 980px) {
  main .comments_main .contact_info {
    width: 100%;
    text-align: center;
    margin-left: 0;
    padding-top: 50px;
  }
}

main .comments_main .contact_info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0;
  padding: 0;
}

@media (max-width: 980px) {
  main .comments_main .contact_info ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .comments_main .contact_info ul li {
  margin-right: 20px;
  color: #1A315C;
}

main .comments_main .contact_info p:nth-of-type(1) {
  padding: 20px 0;
}

footer .copyright {
  text-align: center;
  color: white;
  background-color: #1E1713;
  padding: 10px 0;
}
